@import "../../../CommonCSS/variables.scss";

.selection {
  position: relative;
  display: flex;
  align-items: center;
  height: 6.4rem;
  background-color: map-get($colors, "white");
  margin-bottom: 0.3rem;

  &:hover {
    .dropdown {
      display: block;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
    gap: 1rem;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
  }

  &--date {
    position: relative;
    margin-top: 2rem;
  }

  .label {
    font-size: 1.4rem;

    color: map-get($colors, "governorBay");
  }

  .text {
    font-size: 1.5rem;
    color: map-get($colors, "nevada");
  }

  .input {
    border: none;
    outline: 0;
    cursor: pointer;
  }
}
