@import "../../CommonCSS/variables.scss";

.journey-list-page {
  text-indent: 1rem;

  .header {
    height: 7.2rem;
  }

  .info-message {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: map-get($colors, "nevada");
  }
}
